.title {
  font-size: 16px;
  text-align: left;
}

.amount {
  font-weight: 600;
  font-size: 14px;
  position: relative;
}

.amount_perc {
  font-size: 12px;
  top: -14px;
  right: -7px;
  position: absolute;
  font-weight: 300;
  color: #fbfbfb;
}

.rw {
  background-color: #fef0ef;
}

.na {
  background-color: #f4f3fd;
}

.top1 {
  background-color: #ebf8f2;
}

.top2 {
  background-color: #fef3eb;
}

.top3 {
  background-color: #feeff5;
}

.greater {
  background-color: #f79992;
  padding: 16px 8px;
  margin: -16px -8px;
}

.lower {
  background-color: #76d0a3;
  padding: 16px 8px;
  margin: -16px -8px;
}
